<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "customer" method = "POST">
        {% csrf_token %}
        <label>First Name &nbsp</label><input type="text" name="first_name" placeholder="First Name"><br><br>
        <label>Last Name &nbsp</label><input type="text" name="last_name" placeholder="Last Name"><br><br>
        <label>Username &nbsp</label><input type="text" name="username" placeholder="Username"><br><br>
        <label>Email &nbsp</label><input type="email" name="email" placeholder="Email"><br>
        <input type="tel" name="tel_number" placeholder="Telephone number"><br>
        <p>Payment method:</p>
        <input type="radio" id="pay1" name="payment">
        <label for="pay1">Cash</label>
        <input type="radio" id="pay2" name="payment">
        <label for="pay2">Card</label><br><br>
        <label>Password  &nbsp</label><input type="password" name="password1" placeholder="Password"><br>
        <label>Conform Password  &nbsp</label><input type="password" name="password2" placeholder="Confirm Password"><br><br>
        <input type="Submit">


    </form>
</body>
</html>
